@page
@model AethersJournal.Pages.LoginModel
@{

}

@section Scripts {
    <script>
        async function testCookie() {
            const response = await fetch("http://localhost:5268/api/Session/test-cookie", {
                method: "GET",
                headers: {
                    "Content-Type": "application/json"
                },
                credentials: "include"
            });

            if (response.ok) {
                window.location.href = "/Journal";
            }
        }
    </script>
}

<div id="container">
    <h1 id="login-title">Aethers Journal</h1>
    <div id="login-container">
        <div class="input-container">
            <label id="email-label">Email</label>
            <input id="email-input" />
        </div>
        <div class="input-container">
            <label id="password-label">Password</label>
            <input id="password-input" />
        </div>
        <button onclick="testCookie()" id="login-button">Login</button>
        <a id="register-link" href="/Register">Register</a>
    </div>
</div>
