@page
@model AethersJournal.Pages.LoginModel
@{

}

<div id="container">
    <h1 id="login-title">Aethers Journal</h1>
    <div id="login-container">
        <div class="input-container">
            <label id="email-label">Email</label>
            <input id="email-input" />
        </div>
        <div class="input-container">
            <label id="password-label">Password</label>
            <input id="password-input" />
        </div>
        <button id="login-button">Login</button>
        <a id="register-link" href="/Register">Register</a>
    </div>
</div>
