@page
@model AethersJournal.Pages.Shared.RegisterModel

@functions {

}

@section Scripts
{
    <script>
        async function sendRegisterPostAsync() {
            const firstName = document.getElementById("fname-input").value;
            const lastName = document.getElementById("lname-input").value;
            const email = document.getElementById("email-input").value;
            const password = document.getElementById("password-input").value;
            const confirmPassword = document.getElementById("re-password-input").value;

            if (password !== confirmPassword) {
                alert("Passwords do not match");
                return;
            }

            const response = await fetch("https://aethersjournaldatabase.azurewebsites.net/api/User/addUser", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({
                    firstName: firstName,
                    lastName: lastName,
                    email: email,
                    password: password
                })
            });

            if (response.ok) {
                window.location.href = "/Login";
            } else {
                alert("Failed to register");
            }
        }
    </script>
}

<div id="container">
    <h1 id="register-title">Aethers Journal</h1>
    <div id="register-container">
        <div class="input-container">
            <label id="fname-label">First name</label>
            <input id="fname-input" />
        </div>
        <div class="input-container">
            <label id="lname-label">Last name</label>
            <input id="lname-input" />
        </div>
        <div class="input-container">
            <label id="email-label">Email</label>
            <input id="email-input" />
        </div>
        <div class="input-container">
            <label id="password-label">Password</label>
            <input id="password-input" />
        </div>
        <div class="input-container">
            <label id="re-password-label">Re-enter Password</label>
            <input id="re-password-input" />
        </div>
        <button onclick="sendRegisterPostAsync()" type="submit" id="register-button">Register</button>
        <a id="register-link" href="/Login">Go back</a>
    </div>
</div>